{% extends 'admin/base.html' %}

{% block title %}Django models{% endblock %}

{% block extrastyle %}
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<style type="text/css">
    .btn:focus {
        outline: none;
        box-shadow: none;
    }

    tbody > tr {
        border-top: 2px solid #bbb;
    }

    td > p {
        margin: 0;
    }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-end row">
        <div class="col-md-2 flex-shrink-0" id="nav-sidebar">
            <ul class="list-group">
                {% for app_name, models in apps.items %}
                    <li class="list-group-item p-1">
                        <button class="btn btn-lg align-items-center py-0 px-1" data-toggle="collapse" data-target="#{{ app_name }}-collapse">{{ app_name }}</button>
                        <div class="collapse" id="{{ app_name }}-collapse">
                            <ul class="btn-toggle-nav list-group list-group-flush ml-1 small border-top">
                                {% for model in models %}
                                    <li class="list-group-item py-1 px-0"><a href="#{{ model.label }}" class="link-dark">{{ model.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                {% if periodic_tasks %}
                    <li class="list-group-item p-1">
                        <a href="#periodic_tasks" class="btn btn-lg py-0 px-1">Периодические задачи</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive">
                  {% for app_name, models in apps.items %}
                    <h3 id="app-{{ app_name }}">App {{ app_name }}</h3>
                    {% for model in models %}
                    <h4 id="{{ model.label }}">model {{ model.name }} <small class="text-muted">verbose: {{ model.verbose_name }}, db_table: {{ model.db_table }}</small></h4>
                    <p>{{ model.doc }}</p>
                        <table class="table table-sm" >
                        <thead>
                          <tr>
                            <th>Field</th>
                            <th>Help text</th>
                            <th>Type</th>
                            <th>Show Details</th>
                          </tr>
                        </thead>
                        <tbody class="table-body">
                           {% for field in model.fields %}
                           <tr>
                             <td colspan="1">
                               {{ field.field_name }} {% if field.verbose_name %} ({{ field.verbose_name }}) {% endif %}
                             </td>
                             <td colspan="1" >
                              {% if field.help_text %}
                                {{ field.help_text }}
                              {% else %}
                                -
                              {% endif %}
                             </td>
                             <td colspan="1">
                              {% if field.fk_label %}
                                 <a href="#{{field.fk_label}}">{{field.type}}</a>
                               {% else %}
                                 {{ field.type }}
                                 {% if field.choices %} (Choice) {% endif %}
                               {% endif %}
                             </td>
                             <td class="table-elipse" data-toggle="collapse" data-target="#{{ field.field_name }}{{ model.name }}">
                               <i class="fa fa-ellipsis-h text-black-50"></i>
                             </td>
                           </tr>
                           <tr id="{{ field.field_name }}{{ model.name }}" class="collapse">
                             <td colspan="1">
                               <div>
                                 {% if field.choices %}
                                 <ul>
                                   <h6><strong>{{ field.types.1 }}(Choice) </strong></h6>
                                   {% for choice_field in field.choices %}
                                     <li> {{ choice_field.1 }} ({{choice_field.0}}) </li>
                                   {% endfor %}
                                 </ul>
                                 {% else %}
                                 <p>-</p>
                                 {% endif %}
                               </div>
                             </td>
                             <td colspan="3" > <div>
                                 {% if field.json_schema %}
                                 <pre class="json">{{ field.json_schema }}</pre>
                                 {% else %}
                                 <p> Json Schema </p>
                                 <p>-</p>
                                 {% endif %}
                               </div> </td>

                           </tr>
                           {% endfor %}
                        </tbody>
                        </table>
                    {% endfor %}
                   {% endfor %}

                   {% if periodic_tasks %}
                    <h3 id="periodic_tasks">Периодические задачи</h3>
                    <table class="table table-sm">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Doc</th>
                        <th>Cron</th>
                        <th>Last Run At</th>
                        <th>Enabled</th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                       {% for task_info in periodic_tasks %}
                       <tr>
                         <td colspan="1">
                           {{ task_info.name }}
                         </td>
                         <td colspan="1" >
                          {% if task_info.help_text %}
                            {{ task_info.help_text|linebreaks }}
                          {% else %}
                            -
                          {% endif %}
                         </td>
                         <td colspan="1" class="cron_text">
                          {{ task_info.schedule }}
                         </td>
                         <td colspan="1">
                          {{ task_info.last_run_at }}
                         </td>
                         <td colspan="1">
                          {{ task_info.enabled }}
                         </td>
                       </tr>
                       {% endfor %}
                    </tbody>
                    </table>
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src="https://unpkg.com/cronstrue@2.26.0/dist/cronstrue.min.js"></script>
<script type='text/javascript' src="https://unpkg.com/cronstrue@2.26.0/locales/ru.min.js"></script>

<script type="text/javascript">

document.querySelectorAll('.cron_text').forEach(function(td) {
    td.innerText = cronstrue.toString(
        td.innerText, {use24HourTimeFormat: true, locale: "ru"}
    );
});


let json1 = document.querySelectorAll('.json');
json1.forEach((json, idx) => {
  json = json.innerText
  let res = '',
    counter = 0;
for (let i = 0; i < json.length; i++) {
    if (json[i] === '{') {
        counter += 1;
        res += json[i] + '\n';
        for (let i = 0; i < counter; i++) {
            res += " ";
        }
    } else {
        if (json[i] === '}') {
            counter -= 1;
            res += '\n';
            for (let i = 0; i < counter; i++) {
                res += " ";
            }
            res += json[i];
        } else {
            if (json[i] === ",") {
                res += json[i] + '\n';
                for (let i = 0; i < counter - 1; i++) {
                    res += " ";
                }
            } else {
                if (json[i] === "[") {
                    res += json[i] + '\n';
                    counter += 1;
                    for (let i = 0; i < counter; i++) {
                        res += " ";
                    }
                } else {
                    if (json[i] === "]") {
                        counter -= 1;
                        res += '\n';
                        for (let i = 0; i < counter; i++) {
                            res += " ";
                        }
                        res += json[i];
                    } else {
                        res += json[i];
                    }
                }
            }
        }
    }
}
document.querySelectorAll('.json')[idx].innerText = res;
})
</script>
{% endblock %}
